<section class="home-banner">
    <div class="container">
        <div class="home-heading">
            <div class="heading">
                <p class="heading-sub">Welcome to</p>
                <h1>DUBTOAST<span>//</span></h1>
                <h4 class="heading-sub-2">STORE</h4>
                <span class="text-decoration">[ダブトースト]</span>
            </div>
        </div>
        <div class="home-img">
            <img src="./assets/andrew-lester-hei-f.jpg" alt="Cover Image" class="img-fluid">
        </div>
        <div class="home-word-carousel">
            <div class="carousel">
                <ul class="word-list">
                  <li><span class="jp-word">あいだ</span></li>
                  <li><span>beats</span></li>
                  <li><span class="jp-word">あいだ</span></li>
                  <li><span>sound kits</span></li>
                  <li><span class="jp-word">あいだ</span></li>
                  <li><span>drum kits</span></li>
                  <li><span class="jp-word">あいだ</span></li>
                  <li><span>sample paks</span></li>
                  <li><span class="jp-word">あいだ</span></li>
                  <li><span>production combos</span></li>
                  <li><span class="jp-word">あいだ</span></li>
                  <li><span>music</span></li>
                </ul>
            </div>              
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="home-intro-txt">
                    <p>
                        Hello there! You've arrived because you have a penchant for the dark and mysterious realm of cyberpunk, the captivating
                        vibes of Blade Runner, and all things tech. We recognize <strong class="highlight-txt">your love</strong> for deep, soul-stirring <strong class="highlight-txt">beats that propel your music</strong>
                        into the realms beyond this rainy horizon.
                    </p>
                    <app-cta-button [buttonText]="'Go to the store'" [buttonClass]="'large-btn'"></app-cta-button>
                </div>
            </div>
        </div>
    </div>
</section>

