@import 'theme-variables.scss';

.cta-button {
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: rgba($color: $primary-orange, $alpha: 0);
    border: 2px solid $primary-orange;
    text-decoration: none;
    font-family: $heading-font;
    font-size: 1.1rem;
    color: $white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
    &:hover {
        transition: all 0.3s ease;
        background-color: $primary-orange;
    }
    &:focus-within {
        background-color: $secondary-orange;
        border: 2px solid $secondary-orange;
    }
    &.large-btn {
        width: 100%;
    }
    &.mid-btn {
        width: 50%;
    }
}